[Unit]

Description=Django

After=network.service

[Service]

ExecStart=/usr/bin/env python  /opt/django_app/notejam/manage.py runserver 0.0.0.0:8000


[Install]

WantedBy=multi-user.target
